a {
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: #775298;
}
body {
    max-width: 1400px;
    max-height: fit-content;
    margin: auto;
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
header {
    margin: auto;
    width: 1400px;
    width: 100%;
    height: 78px;
}
.nav-header {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logo{
    width: 185px;   
}
.ul-top{
    list-style: none;  
    display: flex;  
    max-width: 350px;
    width: 100%;
    justify-content: space-around;
}
.signin {
    background-color: white;
    border-color: white;
    border-color: black;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 20px;
}
.signup {
    background-color: #FF9900;
    border-color: #FF9900;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.container-header{
    margin: auto;
    margin-top: 65px;
    max-width: 1134px;
    width: 100%;
    height: 496px;
    display: flex;
    justify-content: center;
    align-content: space-around;
}
.main-title {
    max-width: 518px;
    height: 108px;
    margin-right: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-weight: bold;
}
.main-text{
    color:#544837;
    max-width: 458px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: regular;
    margin-top: 30px;
    margin-right: 60px;
}
.btn-start{
    width: 175px;
    height: 53px;
    margin-top: 45px;
    border: #FF9900;
    background-color: #FF9900;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.btn-watch {
    width: 175px;
    height: 53px;
    margin-top: 45px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: white;
    color: #FF9900;
}
.container-design {
    margin: auto;
    max-width: 1134px;
    min-height: 543px;
    margin-top:65px;
    display: flex;
    flex-direction: column;
}
.design-title {
    max-width: 539px;
    height: 108px;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    margin: auto;
    font-weight: bold; 
    text-align: center;     
}
.design-info {
    height: auto;
    width: auto;
   
}
.design-boxes {
    margin: auto;
    max-width: 1095px;
    width: 100%;
    height: 204px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.design-small-title {
    font-family: "poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #2F281E;
}
.design-txt {
    font-family: poppins;
    font-size: 16px;
    font-weight: medium;
    color: #544837
}
.title-professionals{
    max-width: 486px;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    margin: auto;
    font-weight: bold; 
    text-align: left; 
}
.container-professionals {
    margin: auto;
    margin-top: 160px;
    max-width: 1134px;
    width: 100%;
    height: 496px;
    display: flex;
    align-content: space-around;  
}
.info-professionals {
    margin: auto;
    min-height: 531px;
    max-width: 486px;
    display: flex;
    flex-direction: column;
}
.container-managers {
    margin: auto;
    margin-top: 120px;
    max-width: 1134px;
    width: 100%;
    height: 496px;
    display: flex;
    align-content: space-around; 
}
.footer {
    margin: auto;
    margin-top: 249px;
    display: flex;
    align-content: space-evenly;
}
nav { 
    margin: auto;  
    display: flex; 
    align-items: flex-start;
}
.footer-logo {
    margin: auto;
    display: flex;
    align-content: flex-start;
}
.btn-end {
    width: 175px;
    height: 53px;
    margin:20px;
    border: #FF9900;
    background-color: #FF9900;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}